@media screen and (max-width:767px) {

    body {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .alert-info {
        background-color: #c0ffff;
        text-align: center;
        width: 98%;
        border: 1px solid #cccccc;
        height: 50px;
        line-height: 50px;
    }

    .alert-info>a {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-decoration: none !important;
    }

    h1 {
        text-align: center;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    ul {
        list-style: none;
        width: 98%;
        margin-left: -36px;
    }

    li {
        text-align: center;
        background-color: #cccccc;
        margin-bottom: 10px;
        height: 50px;
        line-height: 50px;
    }

    img {
        width: 98%;
        margin-left: 5px;
    }

    .sub-section {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
    }

    .sub-section>h2 {
        font-style: italic;
    }
}

@media screen and (min-width:768px) {

    body {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .hidden-on-desktop>a {
        line-height: 0px;
        font-size: 0px;
        color: transparent;
    }

    h1 {
        float: left;
    }

    ul {
        list-style: none;
    }

    li {
        float: right;
        margin-left: 10px;
    }

    img {
        clear: both;
        width: 98%;
        margin-left: 5px;
    }

    .main {
        width: 55%;
        float: left;
    }

    .sub-section {
        width: 40%;
        float: right;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
    }

    .sub-section>h2 {
        font-style: italic;
    }

    footer {
        clear: both;
    }
}